{% extends 'base.html.twig' %}


{% block body %}
    <h1>Create Task</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        
        <button class="btn btn-success" type="submit">Create Task</button>
    {{ form_end(form) }}

{% endblock %}
